pipeline/OLTPToDW.json
{
	"name": "OLTPToOLAP",
	"properties": {
		"activities": [
			{
				"name": "Calculate ETL Cutoff Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetETLCutoffTime",
					"value": {
						"value": "@pipeline().parameters.inputDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OLTP",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "TableName"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ensure DateDim includes current year",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Calculate ETL Cutoff Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Integration].[PopulateDateDimensionForYear]",
					"storedProcedureParameters": {
						"YearNumber": {
							"value": "2022",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Integration",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTableName').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Truncate Table_Staging",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "LookupLineageKey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "DW",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "DELETE FROM Integration.@{item().Name}_Staging",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "LookupLineageKey",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[Integration].[GetLineageKey]",
									"storedProcedureParameters": {
										"NewCutoffTime": {
											"type": "DateTime",
											"value": {
												"value": "@variables('TargetETLCutoffTime')",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@{item().Name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Integration",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LookupETLCutoffTime",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Truncate Table_Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[Integration].[GetLastETLCutoffTime]",
									"storedProcedureParameters": {
										"TableName": {
											"type": "String",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Integration",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set LastCutoffTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupETLCutoffTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastETLCutoffTime",
								"value": {
									"value": "@{activity('LookupETLCutoffTime').output.firstRow.CutoffTime}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExtractUpdatedDataToIntegration",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set LastCutoffTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "[Integration].[Get@{item().Name}Updates]",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"LastCutoff": {
											"type": "DateTime",
											"value": {
												"value": "@variables('LastETLCutoffTime')",
												"type": "Expression"
											}
										},
										"NewCutoff": {
											"type": "DateTime",
											"value": {
												"value": "@variables('TargetETLCutoffTime')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ODS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DW",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "Integration",
										"Tablename": "@{item().Name}_Staging"
									}
								}
							]
						},
						{
							"name": "MigrateStagedTableData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExtractUpdatedDataToIntegration",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[Integration].[MigrateStaged@{item().Name}Data]",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inputDate": {
				"type": "string"
			}
		},
		"variables": {
			"TargetETLCutoffTime": {
				"type": "String"
			},
			"LineageKey": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			},
			"LastETLCutoffTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}